*, *:before, *:after {
  box-sizing: border-box;
}

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}


@import url("//fonts.googleapis.com/css?family=Raleway:400,,800,900");
html{
  width:100%;
  height: 100%;
}
body{
  background: -webkit-linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-attachment:fixed;
}

.background{
  width: 100%;
}

.container{
  @include center();
  margin-top: 100px;
  margin-left: 720px;
}
.title{
  font-weight: 800;
  color: transparent;
  font-size:120px;
  background: url(/tarantula-nebula.jpg) repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -8px;

}
.subtitle{
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top:10px;
}


a[href]:hover {
  cursor: pointer;
  text-decoration: none;
}

.links a[href]{
  text-decoration: none;
  padding: 100px;
  font-weight: 800;
  color: transparent;
  font-size:45px;
  background: url(/tarantula-nebula.jpg) repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  text-align:center;
  line-height:90px;

}

.links{
  text-align: center;
}


.about{
  border: solid  #5B077A 8px;
  box-shadow: 0 0 40px #999999;
  padding: 15px;
  height: 100%;
  position: relative;
  border-radius: 60px;
  margin: 30px;
}

section.header {
  border-bottom: 4px solid #999999;
}
section.header>h1 {
  font-weight: 800;
  color: transparent;
  font-size:85px;
  background: url(/tarantula-nebula.jpg) repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project {
  padding: 0px 40px;
  clear: both;
  overflow: hidden;
  border-bottom: 4px solid #999999;
}

section.projects img {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  border: solid black 3px;
}

.images {
  padding: 10px;
  width: 60%;
  float: left;
  text-align: center;
  overflow: hidden;
}

.description {
  padding: 15px;
  width: 40%;
  float: left;
}

div.column1 {
  width: 30%;
  float: left;
  text-align: right;
  padding-right: 15px;
}

div.column2 {
  border-left: rgba(212,14,82, 1) 1px solid;
  width: 70%;
  float: left;
  padding-left: 15px;
}

section.projects img.project-badge {
  width: 4%;
  border: none;
  margin-left: 580px;
}

.all_projects{
  border: solid  #5B077A 8px;
  box-shadow: 0 0 40px #999999;
  padding: 15px;
  height: 100%;
  position: relative;
  border-radius: 60px;
  margin: 30px;
}

.project_title a[href]{
  text-decoration: none;
  font-weight: 800;
  font-size: 40px;
  color: #5B077A;
  text-align:center;
}

.project_name{
margin-bottom: 20px;
margin-top: 10px;
}

.project_description{
  font-weight: bold;
  font-size: 30px;
}
.project_paragraphs{
  font-size: 20px;
  margin-left: 20px;
}
ul{
padding: none;
}
