@import url('http://fonts.googleapis.com/css?family=Cousine');

html {
  /* background: url(/mountain.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

body {
  background: #828282;
  font-family: Cousine;
  background-attachment:fixed;
  margin: 55px;
}

.background{
  position: fixed;
  width: 100%;
}

.about{
  color: #161615;
  border: solid  #AFFF1C 8px;
  outline: 4px solid #462255 ;
  padding: 15px;
  margin-top: 100px;
  height: 100%;
  background: #EFF8E2;

  top: 270px;
  position: relative;
}

.name{
  color: #AFFF1C;
  -webkit-text-stroke: 1px #462255;
  text-align: center;
  font-family: Cousine;
  font-size: 50px;
  margin: 0px;
  display: inline;
  width: 100%;
}

.footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
}

.links{
  text-align: center;
  font-size: 40px;
  font-family: Cousine;
}

a[href]:hover {
  cursor: pointer;
  text-decoration: none;
  color: #068D9D;
}

.links a[href]{
  color: #AFFF1C;
  text-align: center;
  text-decoration: none;
  padding: 100px;
  -webkit-text-stroke: 2px #462255;
}
