<div class = "links">
    {{#link-to 'index'}}
      Home
    {{/link-to}}

    {{#link-to 'projects'}}
      Projects
    {{/link-to}}

    {{#link-to 'resume'}}
      Resume
    {{/link-to}}
  </div>

<div class="container">
  <div class="title">BECCA VASIL</div>
  <div class="subtitle"> geek + curious + smart = ME </div>
</div>


{{outlet}}
