<div class = "about">
  <aside>
  <h2>Hi!</h2>
</aside>

<main class="intro">
  <section>
    <p>
      <strong>What do I love?</strong>
    </p>
    <p>
      I love to learn new and exciting things, which is why I am currently attending gSchool to become a developer. I love the outdoors! Everything about it, hiking, camping, snowshoeing you name it.
      I also horseback-ride, ice skate, and do pilates.
      I enjoy fine liqours and learning about the distilling and history of each one.
    </p>
  </section>

  <section>
    <p>
      <strong>What is my background?</strong>
    </p>
    <p>
      I graduated from Colorado School of Mines in Geology and Geological Engineering. I went to work for a geological software company that consulted on large mining projects.
      I loved working with all the people to see what problem I could solve for them. I used vast amounts of technology from cameras and computers to handheld GPS units and units the company made.
      I then switched to work for the State of Colorado in the Air Pollution Control Division Oil and Gas sector. Technology was non existent  or old there and I craved for it.
    </p>
    <p>
      I was fortunate to stumble upon gSchool and decided a move was neccessary. I wanted to learn the newest thing on the tech scene.
      I found myself loving to solve problems that were given to me and ones that I found myself.
      I tried to take a process and see how to make it better, more efficeint.
    </p>
  </section>

  <section>
    <p>
      <strong>What do I want to do?</strong>
    </p>
    <p>
      The long and short of it is: I want to create, I want to learn.
    </p>
    <p>
      I love creating new things and improving upon what's already there.
      I love designing web apps that are functional, easy to use and interesting.
      Overall I want a web app that makes the end user happy. 
    </p>
  </section>
</main>

{{outlet}}
